.library-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  margin-bottom: 10px;
  box-shadow: 0 5px 3px #9895a2;
  width: 100%;
}

.library__btn {
  width: 43.75%;
  color: aqua;
  background: none;
  border: none;
  border-bottom: 2px solid #9895a2;
  padding: 12px;
  color: #101010;

  &--active {
    background: #77c1bb;
    color: #f3f6f6;
    border-bottom: none;
  }
}

.library__vote {
  position: absolute;
  top: 5%;
  right: 3%;
  background: #f3f6f6;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 12px;
  font-family: 'Roboto-medium', serif;
}

.library__nameFilm {
  position: absolute;
  bottom: 5%;
  left: 3%;
  color: #f3f6f6;
  font-size: 12px;
  font-family: 'Roboto-medium', serif;
}

.library__list {
  margin: 0 auto;
  width: 93.75%;
  list-style: none;
  position: relative;
  margin-bottom: 12px;
}

@media (min-width: 760px) {
  .library__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .library__list {
    width: 44.79%;
    margin: 0 0 2% 4%;
  }
  .library__btn {
    width: 18.75%;
  }
}